# History files
.Rhistory
.Rapp.history
*.log
# Session Data files
.RData
.Rproj
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
/*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user
inst/doc
*hede*


# raw data exceptions
data-raw/cel
data-raw/ChenCortex
data-raw/DarmanisHuman
data-raw/GemmaAnnots
data-raw/LesnickParkinsons
data-raw/MoranParkinsons
data-raw/StanleyData
data-raw/TasicMouse
data-raw/TrabzuniRegions
data-raw/ZeiselMouse
data-raw/Mouse_Cell_Type_Data/qnormExp.csv
data-raw/Mouse_Cell_Type_Data/qnormExp.csv.gz
data-raw/Mouse_Cell_Type_Data/qnormExp2.csv
data-raw/Mouse_Cell_Type_Data/qnormExp2.csv.gz
data-raw/Mouse_Cell_Type_Data/rmaExp.csv
data-raw/Mouse_Cell_Type_Data/rmaExp.csv.gz
data-raw/Mouse_Cell_Type_Data/rmaExp2.csv
data-raw/Mouse_Cell_Type_Data/rmaExp2.csv.gz




# analysis exceptions
analysis/01.SelectGenes/Rotation
analysis/01.SelectGenes/RotSel
analysis/04.MarkerGeneProfiles/cortex_white
analysis/02.SingleCellCoexpression/Darmanis
analysis/02.SingleCellCoexpression/Tasic
analysis/02.SingleCellCoexpression/Zeisel
analysis/03.WholeTissueCoexpression/pValues
analysis/06.BloodGeneProfiles/HumanMarkers/Rotation
analysis/06.BloodGeneProfiles/HumanMarkers/RotSel
analysis/06.BloodGeneProfiles/MouseMarkers/Rotation
analysis/06.BloodGeneProfiles/MouseMarkers/RotSel


*progress
*Backup
*backup
*DentateGranule_resize
*DentateGranule_doubleMerged
Purkinje_doubleMerged
Purkinje_resize
analysis/05.ISHValidation/DentateGranule
analysis/05.ISHValidation/Purkinje